{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
  Документы
{% endblock %}
{% block content%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static "js/toggle.js" %}"></script>
  {% for document in documents%}
    {% for k,v in document.items%}
    <div style="float:left">
      <button class="tog" data="toggle">{{ k }}</button>
      <div class="clearfix education">
        {% for d in v %}
          {% if d.fiel %}
            <li class="item"><a class="link" href="{{ d.fiel.url }}">{{ d.title }}</a><br/></li>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  <br/>
  <div class="clearfix info">
        Размещение информации на сайте образовательного учреждения осуществляется на основании следующих нормативных документов:
  <li>ст. 29 Закона РФ «Об образовании в Российской Федерации» об обеспечении открытость и доступность информации;</li>
  <li>постановления Правительства РФ от 10  июля 2013 года № 582 "Об утверждении правил размещения на официальном сайте образовательной организации в информационно-телекоммуникационной сети "интернет" и обновления информации об образовательной организации";</li>
  <li>п. 3.2  статьи 32 Закона РФ "О некоммерческих организациях" об обязанности ежегодно размещать в информационно-телекоммуникационной сети "Интернет" или предоставлять средствам массовой информации для опубликования отчет о своей деятельности в объеме сведений, представляемых в уполномоченный орган или его территориальный орган.</li><br/>
    Любому пользователю предоставлена возможность на просмотр документов, нажимая на кнопки, соответствующие типам документов, перед вами открывается список соответствующих документов.
  </div>
{% endblock %}
