{% extends 'base.html' %}

{% block title%}
  Вход
{% endblock %}

{% block content%}
  <h1> Авторизация пользователя</h1>
  <form method="post">
    {% csrf_token %}
      <TABLE border=0>
          <TR> <TD><input id="id_username" name="username" type="text" placeholder="Имя пользователя"></TD></td>
          </TR>
          <TR> <TD><input id="id_password" name="password" type="password" placeholder="Пароль"></td>
          </TR>
        </table>
    <input type="submit" value="Войти">
  </form>
  <a href = "{% url "register"%}"><button>Регистрация</button></a>
{%endblock%}
